@tailwind base;
@tailwind components;
@tailwind utilities;

.title__content {
  /** TEXT GRADIENT */
  color: #ea047e;
  background-image: -webkit-linear-gradient(45deg, #ea047e 31%, #141e30 81%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

@layer components {
  .form-input {
    @apply cursor-pointer border-b-2 border-gray-700 bg-transparent text-main_white_dim hover:border-gray-400 hover:outline-none focus:outline-none focus-visible:outline-none md:border-gray-400 md:text-main_gray;
  }
}
